@import 'staticVars.scss';

@import 'resetto.scss';

body{   
  margin: 0; 
  background-color: $col_2;
  font-family: Helvetica, Arial, sans-serif; 
  height: 100%; height: calc( 100vh - 1rem - 1.5rem ); 
  width: 100%; 
}

h1,h2{ line-height: 3rem; padding: 2rem; font-weight: normal; margin: 1rem auto 0; }
h2{ font-size: 1.875em; }
h1{ 
  font-size: 2.125em; 
  
  &.imageheader {
    background-repeat: no-repeat; 
    background-size: 10%; 
    background-position: 95% 60%;
  }

}

footer div{ color: $col_4; font-family: sans-serif; width: 80vw; margin: auto; text-align: center; padding: 100px 0; }

.page-wrap{ 
  max-width: 80%; 
  padding: 1.5rem; margin: 3% auto; 
  text-align: center; 
  border: .25rem solid $col_6; 
  font-size: 1.25rem; 

  .header{
    background-color: $col_7; 
    color: $col_1; 
    padding: 5px 20px; 
    display: flex; 
    align-items: center; 
    justify-content: left; 
  
    .hamburger{
      display: flex; 
      align-items: center; 
    }
    
    .desktop { 
      // max-width: calc( 100% - 40px);
      max-width: calc( 100% ); 
    }
  }
}

.hamburgerbutton { 
  width: 3rem; 
  background-color: transparent; border: none; cursor: pointer; padding-top: 0; 
  padding-bottom: 0; 

  &:focus { 
    outline: none; 
  }

  .burgerpattie{ 
    width: 100%; height: .2rem; 
    background-color: $col_1; 
    display: block; margin: .6rem 0; 
  }
}

.desktopnavigation{
  width: auto;
  margin: 0 auto;
  padding: 1.75em 1.5% .75em 1.5%;
  line-height: 1rem;
  font-size: .875rem;

  li{ 
    display: none; 

    a {
      color: inherit; text-decoration: none; 
      border-right: 1px solid $col_1;
      padding-right: 1rem;
    }
  }
}
.mobile{ 
  position: fixed; 
  top: 0; 
  background-color: $col_5; 
  width: 80vw; height: 100vh; 
  color: $col_1; 
  text-align: center; 
  transform: translateX(-120%); 
  transition: transform 351ms ease-out; 
  
  display: flex; 
  justify-content: flex-end; /* space-around; */ 
  padding-right: 1rem;
  overflow: hidden;

  .mobileitems{ 
    list-style: none; 
    margin: 0; 
    margin-right: -30px;
    padding: 0; 
    font-size: .98rem; 
    overflow-y: scroll;
    width: calc( 100% - 30px );

    .mobileitem{ 
      color: $col_1; 

      a {
        color: inherit; text-decoration: none; font-size: inherit; 
      } 
    }

  }

}

.open {
  display: flex; 
  transform: translateX(-35%); 
}

.background {
  color: $col_4; 
  margin: auto; 
  text-align: center; 
  padding: 0; 

  .backgroundimage{
    
    background: url("../img/transparencies.png");
    background-color: $col_9; 

    height: 40vh; background-size: cover; background-position: center;
  }

  #git-container{ 
    a {
      text-decoration: none; font-weight: bold;
      &:link { color: $col_4; }
      &:visited { color: $col_9; }
      &:hover { color: $col_7; }
      &:active { color: $col_8; }
    } 
  }

  #gitlabrepositories { 
    list-style: none; 
    
    li {
      border-bottom: 1px dotted $col_3; 
      font-size: .85rem; 
      padding: .5rem 1rem; 
    } 
  } 

}

@import 'MQ.scss';