@media(min-width: 40rem){
  
  .hamburgerbutton { display: none; } 
  
  .desktopnavigation { 
    
    display: inline-flex;

    li { 
      display: inline-flex; 
      padding-left: 20px; 
      color: $col_1; 
    }
  }
}